In [0]:
data_student = [('raja','science',80,'p',90),
                ('rakesh','maths',90,'p',70),
                ('rama','english',20,'f',None),
                ('ramesh','science',45,'f',75),
                ('rajesh',None,30,'f',50),
                ('raghav','maths',None,'NA',70),
                (None,None,None,None,None)]
Schema = ['name','subject','Mark','status','attendence']
df = spark.createDataFrame(data=data_student, schema = Schema)
display(df)

name,subject,Mark,status,attendence
raja,science,80,p,90
rakesh,maths,90,p,70
rama,english,20,f,null
ramesh,science,45,f,75
rajesh,null,30,f,50
raghav,maths,null,NA,70
null,null,null,null,null

####Find Null Occurence of each column in DataFrame

In [0]:
from pyspark.sql.functions import col, count, when

result = df.select([count(when(col(c).isNull(),c)).alias(c) for c in df.columns])
display(result)

name,subject,Mark,status,attendence
1,2,2,1,2