In [0]:
data = [(1, 'venkey'),(2,'chintha')]
df = spark.createDataFrame(data=data, schema=['id','name'])
display(df)

id,name
1,venkey
2,chintha

In [0]:
df.show()

+---+-------+
| id|   name|
+---+-------+
|  1| venkey|
|  2|chintha|
+---+-------+

In [0]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [0]:
from pyspark.sql.types import *
data = [{'id':1,'name':'venkey'},{'id':2,'name':'chintha'}]
df = spark.createDataFrame(data=data)
display(df)

id,name
1,venkey
2,chintha

#### PySpark Filters

In [0]:
employee_data =[(10, 'raj kumar','1999','100','M',2000),
                (20, 'rahul kumar','2002','200','F',8000),
                (30, 'raja singh','2010','100',None,6000),
                (40, 'raghava','2004','100','M',9000),
                (50, 'rama krishna','2008','400','M',14000),
                (60, 'rasul','2014','500','F',12000),
                (70, 'kumar Chand ','2004','600','M',7000)]

employee_schema =['employee_id','name','doj','employee_dept_id','gender','salary']

df_emp= spark.createDataFrame(data=employee_data, schema=employee_schema)
df_emp.display()

employee_id,name,doj,employee_dept_id,gender,salary
10,raj kumar,1999,100,M,2000
20,rahul kumar,2002,200,F,8000
30,raja singh,2010,100,null,6000
40,raghava,2004,100,M,9000
50,rama krishna,2008,400,M,14000
60,rasul,2014,500,F,12000
70,kumar Chand,2004,600,M,7000

In [0]:
display(df_emp.filter(df_emp['salary']>5000))

employee_id,name,doj,employee_dept_id,gender,salary
20,rahul kumar,2002,200,F,8000
30,raja singh,2010,100,null,6000
40,raghava,2004,100,M,9000
50,rama krishna,2008,400,M,14000
60,rasul,2014,500,F,12000
70,kumar Chand,2004,600,M,7000

In [0]:
display(df_emp.filter(df_emp['gender']=='M'))

employee_id,name,doj,employee_dept_id,gender,salary
10,raj kumar,1999,100,M,2000
40,raghava,2004,100,M,9000
50,rama krishna,2008,400,M,14000
70,kumar Chand,2004,600,M,7000

In [0]:
display(df_emp.filter((df_emp['salary']>5000) & (df_emp['gender']=='F')))

employee_id,name,doj,employee_dept_id,gender,salary
20,rahul kumar,2002,200,F,8000
60,rasul,2014,500,F,12000

In [0]:
display(df_emp.filter((df_emp.salary>6000) | (df_emp.gender=='M')))

employee_id,name,doj,employee_dept_id,gender,salary
10,raj kumar,1999,100,M,2000
20,rahul kumar,2002,200,F,8000
40,raghava,2004,100,M,9000
50,rama krishna,2008,400,M,14000
60,rasul,2014,500,F,12000
70,kumar Chand,2004,600,M,7000

####Startswith and Endswith

In [0]:
display(df_emp.filter(df_emp.name.endswith('r')))

employee_id,name,doj,employee_dept_id,gender,salary
10,raj kumar,1999,100,M,2000
20,rahul kumar,2002,200,F,8000

In [0]:
display(df_emp.filter(df_emp['name'].startswith('r')))

employee_id,name,doj,employee_dept_id,gender,salary
10,raj kumar,1999,100,M,2000
20,rahul kumar,2002,200,F,8000
30,raja singh,2010,100,null,6000
40,raghava,2004,100,M,9000
50,rama krishna,2008,400,M,14000
60,rasul,2014,500,F,12000

In [0]:
#isin
display(df_emp.filter(df_emp.salary.isin(2000,9000))) #It can print only 2000 and 90000

employee_id,name,doj,employee_dept_id,gender,salary
10,raj kumar,1999,100,M,2000
40,raghava,2004,100,M,9000

In [0]:
display(df_emp.filter(df_emp['salary'].isin(~2000,9000)))

employee_id,name,doj,employee_dept_id,gender,salary
40,raghava,2004,100,M,9000

In [0]:
#Like
display(df_emp.filter(df_emp.name.like('%kumar')))

employee_id,name,doj,employee_dept_id,gender,salary
10,raj kumar,1999,100,M,2000
20,rahul kumar,2002,200,F,8000

In [0]:
#Like
display(df_emp.filter(df_emp.name.like('ra%')))

employee_id,name,doj,employee_dept_id,gender,salary
10,raj kumar,1999,100,M,2000
20,rahul kumar,2002,200,F,8000
30,raja singh,2010,100,null,6000
40,raghava,2004,100,M,9000
50,rama krishna,2008,400,M,14000
60,rasul,2014,500,F,12000

In [0]:
#Add Column
from pyspark.sql.functions import lit 
df_addcol1 = df_emp.withColumn('locatio', lit('mumbai')).show()

+-----------+------------+----+----------------+------+------+-------+
|employee_id|        name| doj|employee_dept_id|gender|salary|locatio|
+-----------+------------+----+----------------+------+------+-------+
|         10|   raj kumar|1999|             100|     M|  2000| mumbai|
|         20| rahul kumar|2002|             200|     F|  8000| mumbai|
|         30|  raja singh|2010|             100|  null|  6000| mumbai|
|         40|     raghava|2004|             100|     M|  9000| mumbai|
|         50|rama krishna|2008|             400|     M| 14000| mumbai|
|         60|       rasul|2014|             500|     F| 12000| mumbai|
|         70|kumar Chand |2004|             600|     M|  7000| mumbai|
+-----------+------------+----+----------------+------+------+-------+

In [0]:
df_addcol = df_emp.withColumn('bonus', df_emp.salary*0.1)
display(df_addcol)

employee_id,name,doj,employee_dept_id,gender,salary,bonus
10,raj kumar,1999,100,M,2000,200.0
20,rahul kumar,2002,200,F,8000,800.0
30,raja singh,2010,100,null,6000,600.0
40,raghava,2004,100,M,9000,900.0
50,rama krishna,2008,400,M,14000,1400.0
60,rasul,2014,500,F,12000,1200.0
70,kumar Chand,2004,600,M,7000,700.0

In [0]:
# rename column
df_emp = df_addcol.withColumnRenamed('name','full_name').show()

+-----------+------------+----+----------------+------+------+------+
|employee_id|   full_name| doj|employee_dept_id|gender|salary| bonus|
+-----------+------------+----+----------------+------+------+------+
|         10|   raj kumar|1999|             100|     M|  2000| 200.0|
|         20| rahul kumar|2002|             200|     F|  8000| 800.0|
|         30|  raja singh|2010|             100|  null|  6000| 600.0|
|         40|     raghava|2004|             100|     M|  9000| 900.0|
|         50|rama krishna|2008|             400|     M| 14000|1400.0|
|         60|       rasul|2014|             500|     F| 12000|1200.0|
|         70|kumar Chand |2004|             600|     M|  7000| 700.0|
+-----------+------------+----+----------------+------+------+------+

In [0]:
#Drop column
df_emp = df_addcol.drop('bonus').show()

#drop multiple columns at once
#df_emp = df_addcol.drop('bonus').drop('col_name').show()

+-----------+------------+----+----------------+------+------+
|employee_id|        name| doj|employee_dept_id|gender|salary|
+-----------+------------+----+----------------+------+------+
|         10|   raj kumar|1999|             100|     M|  2000|
|         20| rahul kumar|2002|             200|     F|  8000|
|         30|  raja singh|2010|             100|  null|  6000|
|         40|     raghava|2004|             100|     M|  9000|
|         50|rama krishna|2008|             400|     M| 14000|
|         60|       rasul|2014|             500|     F| 12000|
|         70|kumar Chand |2004|             600|     M|  7000|
+-----------+------------+----+----------------+------+------+