###Create Sample dataframe

In [0]:
data = [('ABC','Q1',2000),
        ('ABC','Q2',3000),
        ('ABC','Q3',6000),
        ('XYZ','Q1',5000),
        ('XYZ','Q2',4000),
        ('XYZ','Q3',1000),
        ('KLM','Q1',2000),
        ('KLM','Q2',3000),
        ('KLM','Q3',1000)]
column =  ['Company','Quater','Revenue']
df = spark.createDataFrame(data=data, schema=column)
display(df)

Company,Quater,Revenue
ABC,Q1,2000
ABC,Q2,3000
ABC,Q3,6000
XYZ,Q1,5000
XYZ,Q2,4000
XYZ,Q3,1000
KLM,Q1,2000
KLM,Q2,3000
KLM,Q3,1000

###Pivot a DataFrame

In [0]:
pivot_df = df.groupBy('company').pivot('Quater').sum('Revenue')
pivot_df.show()

+-------+----+----+----+
|company|  Q1|  Q2|  Q3|
+-------+----+----+----+
|    KLM|2000|3000|1000|
|    XYZ|5000|4000|1000|
|    ABC|2000|3000|6000|
+-------+----+----+----+

In [0]:
pivot_df = df.groupBy('company').pivot('Quater')
display(pivot_df)

In [0]:
from pyspark.sql.functions import expr
unpivotExpr = "stack(3,'Q1',Q1,'Q2',Q2,'Q3',Q3) as (Quater, Revenue)"
unpivot_df = pivot_df.select('Company', expr(unpivotExpr))\
    .where('Revenue is not null')
display(unpivot_df)

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-189585032698280>:3
      1 from pyspark.sql.functions import expr
      2 unpivotExpr = "stack(3,'Q1',Q1,'Q2',Q2,'Q3',Q3) as (Quater, Revenue)"
----> 3 unpivot_df = pivot_df.select('Company', expr(unpivotExpr))\
      4     .where('Revenue is not null')
      5 display(unpivot_df)

AttributeError: 'GroupedData' object has no attribute 'select'

In [0]:
df = pivot_df.selectExpr('Company', "stack(3,'Q1',Q1,'Q2',Q2,'Q3',Q3) as (Quater, Revenue)")
display(df)

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-189585032698283>:1
----> 1 df = pivot_df.selectExpr('Company', "stack(3,'Q1',Q1,'Q2',Q2,'Q3',Q3) as (Quater, Revenue)")
      2 display(df)

AttributeError: 'GroupedData' object has no attribute 'selectExpr'

In [0]:
pivot_df.unpivot("Company", ["Q1", "Q2","Q3"], "Quater", "Revenu").show()

---------------------------------------------------------------------------
AttributeError                            Traceback (most recent call last)
File <command-189585032698281>:1
----> 1 pivot_df.unpivot("Company", ["Q1", "Q2","Q3"], "Quater", "Revenu").show()

AttributeError: 'GroupedData' object has no attribute 'unpivot'

In [0]:

from pyspark.sql.functions import expr
unpivotExpr = "stack(3, 'Canada', Canada, 'China', China, 'Mexico', Mexico) as (Country,Total)"
unPivotDF = pivotDF.select("Product", expr(unpivotExpr)) \
    .where("Total is not null")
unPivotDF.show(truncate=False)
unPivotDF.show()