In [0]:
from pyspark.sql.functions import row_number, rank, dense_rank
from pyspark.sql.window import Window
data = [('maheer','HR',2000),('wafa','IT',3000),('asi','HR',1500),('anu','payroll',3500),
        ('shakthi','IT',3000),('pradeep','IT',4000),('himanshu','IT',2000),('bhargavi','HR',2000),('kranthi','Payroll',2000),('martin','IT',2500)]
schema = ['name','dep','salary']
df = spark.createDataFrame(data, schema)
df.show()

+--------+-------+------+
|    name|    dep|salary|
+--------+-------+------+
|  maheer|     HR|  2000|
|    wafa|     IT|  3000|
|     asi|     HR|  1500|
|     anu|payroll|  3500|
| shakthi|     IT|  3000|
| pradeep|     IT|  4000|
|himanshu|     IT|  2000|
|bhargavi|     HR|  2000|
| kranthi|Payroll|  2000|
|  martin|     IT|  2500|
+--------+-------+------+

In [0]:
df.sort('dep').show()

+--------+-------+------+
|    name|    dep|salary|
+--------+-------+------+
|  maheer|     HR|  2000|
|     asi|     HR|  1500|
|bhargavi|     HR|  2000|
| shakthi|     IT|  3000|
|himanshu|     IT|  2000|
|    wafa|     IT|  3000|
|  martin|     IT|  2500|
| pradeep|     IT|  4000|
| kranthi|Payroll|  2000|
|     anu|payroll|  3500|
+--------+-------+------+

In [0]:
window = Window.partitionBy('dep').orderBy('salary')
#Rownumber
df.withColumn('rowNumber', row_number().over(window)).show()

+--------+-------+------+---------+
|    name|    dep|salary|rowNumber|
+--------+-------+------+---------+
|     asi|     HR|  1500|        1|
|  maheer|     HR|  2000|        2|
|bhargavi|     HR|  2000|        3|
|himanshu|     IT|  2000|        1|
|  martin|     IT|  2500|        2|
|    wafa|     IT|  3000|        3|
| shakthi|     IT|  3000|        4|
| pradeep|     IT|  4000|        5|
| kranthi|Payroll|  2000|        1|
|     anu|payroll|  3500|        1|
+--------+-------+------+---------+

In [0]:
#Rank
df.withColumn('rowNumber', row_number().over(window)).withColumn('rank',rank().over(window)).show()

+--------+-------+------+---------+----+
|    name|    dep|salary|rowNumber|rank|
+--------+-------+------+---------+----+
|     asi|     HR|  1500|        1|   1|
|  maheer|     HR|  2000|        2|   2|
|bhargavi|     HR|  2000|        3|   2|
|himanshu|     IT|  2000|        1|   1|
|  martin|     IT|  2500|        2|   2|
|    wafa|     IT|  3000|        3|   3|
| shakthi|     IT|  3000|        4|   3|
| pradeep|     IT|  4000|        5|   5|
| kranthi|Payroll|  2000|        1|   1|
|     anu|payroll|  3500|        1|   1|
+--------+-------+------+---------+----+

In [0]:
DesnseRank
df.withColumn('rowNumber', row_number().over(window)).withColumn('rank',rank().over(window)).withColumn('denserank', dense_rank().over(window)).show()

+--------+-------+------+---------+----+---------+
|    name|    dep|salary|rowNumber|rank|denserank|
+--------+-------+------+---------+----+---------+
|     asi|     HR|  1500|        1|   1|        1|
|  maheer|     HR|  2000|        2|   2|        2|
|bhargavi|     HR|  2000|        3|   2|        2|
|himanshu|     IT|  2000|        1|   1|        1|
|  martin|     IT|  2500|        2|   2|        2|
|    wafa|     IT|  3000|        3|   3|        3|
| shakthi|     IT|  3000|        4|   3|        3|
| pradeep|     IT|  4000|        5|   5|        4|
| kranthi|Payroll|  2000|        1|   1|        1|
|     anu|payroll|  3500|        1|   1|        1|
+--------+-------+------+---------+----+---------+