####PySpark Function Split

In [0]:
employee_data =[(10, 'raj kumar','1999-06-01','100',2000),
                (20, 'rahul kumar','2003-03-01','200',8000),
                (30, 'raja singh','2005-04-01','100',6000),
                (40, 'raghava','2008-10-1','100',9000),
                (50, 'rama krishna','1996-02-01','400',14000),
                (60, 'Mathew simon','1994-11-01','500',12000),
                (70, 'peter paul','2011-04-01','600',7000)]

employee_schema =['employee_id','name','doj','employee_dept_id','salary']

df_emp= spark.createDataFrame(data=employee_data, schema=employee_schema)
df_emp.display()

employee_id,name,doj,employee_dept_id,salary
10,raj kumar,1999-06-01,100,2000
20,rahul kumar,2003-03-01,200,8000
30,raja singh,2005-04-01,100,6000
40,raghava,2008-10-1,100,9000
50,rama krishna,1996-02-01,400,14000
60,Mathew simon,1994-11-01,500,12000
70,peter paul,2011-04-01,600,7000

####First Method of Split

In [0]:
from pyspark.sql.functions import split

df1 = df_emp.withColumn('First_Name', split(df_emp['name'],' ').getItem(0)).withColumn('Last_Name', split(df_emp['name'],' ').getItem(1))
display(df1)

employee_id,name,doj,employee_dept_id,salary,First_Name,Last_Name
10,raj kumar,1999-06-01,100,2000,raj,kumar
20,rahul kumar,2003-03-01,200,8000,rahul,kumar
30,raja singh,2005-04-01,100,6000,raja,singh
40,raghava,2008-10-1,100,9000,raghava,null
50,rama krishna,1996-02-01,400,14000,rama,krishna
60,Mathew simon,1994-11-01,500,12000,Mathew,simon
70,peter paul,2011-04-01,600,7000,peter,paul

####Second method of split

In [0]:
import pyspark
split_col = pyspark.sql.functions.split(df_emp['name'],' ')

df2 = df_emp.withColumn('First_Name', split_col.getItem(0)).withColumn('Last_Name', split_col.getItem(1))
display(df2)

employee_id,name,doj,employee_dept_id,salary,First_Name,Last_Name
10,raj kumar,1999-06-01,100,2000,raj,kumar
20,rahul kumar,2003-03-01,200,8000,rahul,kumar
30,raja singh,2005-04-01,100,6000,raja,singh
40,raghava,2008-10-1,100,9000,raghava,null
50,rama krishna,1996-02-01,400,14000,rama,krishna
60,Mathew simon,1994-11-01,500,12000,Mathew,simon
70,peter paul,2011-04-01,600,7000,peter,paul

####Third Method for split

In [0]:
import pyspark
split_col = pyspark.sql.functions.split(df_emp['doj'],'-')

df3 = df_emp.select('name','employee_id','Salary','employee_dept_id',split_col.getItem(0).alias('joining_year'),split_col.getItem(1).alias('joining_month'),split_col.getItem(2).alias('joining_day'))
display(df3)

name,employee_id,Salary,employee_dept_id,joining_year,joining_month,joining_day
raj kumar,10,2000,100,1999,06,01
rahul kumar,20,8000,200,2003,03,01
raja singh,30,6000,100,2005,04,01
raghava,40,9000,100,2008,10,1
rama krishna,50,14000,400,1996,02,01
Mathew simon,60,12000,500,1994,11,01
peter paul,70,7000,600,2011,04,01

####Split Multiple columns at once

In [0]:
from pyspark.sql.functions import split

df4 = df_emp.withColumn('First_Name', split(df_emp['name'],' ').getItem(0))\
            .withColumn('Last_Name', split(df_emp['name'],' ').getItem(1))\
            .withColumn('joining_year', split(df_emp['doj'],'-').getItem(0))\
            .withColumn('joining_mnth', split(df_emp['doj'],'-').getItem(1))\
            .withColumn('joining_day', split(df_emp['doj'],'-').getItem(2))
display(df4)

employee_id,name,doj,employee_dept_id,salary,First_Name,Last_Name,joining_year,joining_mnth,joining_day
10,raj kumar,1999-06-01,100,2000,raj,kumar,1999,06,01
20,rahul kumar,2003-03-01,200,8000,rahul,kumar,2003,03,01
30,raja singh,2005-04-01,100,6000,raja,singh,2005,04,01
40,raghava,2008-10-1,100,9000,raghava,null,2008,10,1
50,rama krishna,1996-02-01,400,14000,rama,krishna,1996,02,01
60,Mathew simon,1994-11-01,500,12000,Mathew,simon,1994,11,01
70,peter paul,2011-04-01,600,7000,peter,paul,2011,04,01

#### Split and Drop splited columns

In [0]:
from pyspark.sql.functions import split

df5 = df_emp.withColumn('First_Name', split(df_emp['name'],' ').getItem(0))\
            .withColumn('Last_Name', split(df_emp['name'],' ').getItem(1))\
            .withColumn('joining_year', split(df_emp['doj'],'-').getItem(0))\
            .withColumn('joining_mnth', split(df_emp['doj'],'-').getItem(1))\
            .withColumn('joining_day', split(df_emp['doj'],'-').getItem(2))\
            .drop(df_emp['name'])\
            .drop(df_emp['doj'])

display(df5)

employee_id,employee_dept_id,salary,First_Name,Last_Name,joining_year,joining_mnth,joining_day
10,100,2000,raj,kumar,1999,06,01
20,200,8000,rahul,kumar,2003,03,01
30,100,6000,raja,singh,2005,04,01
40,100,9000,raghava,null,2008,10,1
50,400,14000,rama,krishna,1996,02,01
60,500,12000,Mathew,simon,1994,11,01
70,600,7000,peter,paul,2011,04,01