###Spark Version

In [0]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').getOrCreate()
print(spark.sparkContext.version)

3.4.0

###Create Dataframe df1

In [0]:
employee_data = ([100,'Stephen','1999','100','M',2000],
                 [200,'Phillip','2002','200','M',8000],
                 [300,'John','2010','100','',6000])
Schema = ['employee_id','name','doj','employee_dept_id','gender','salary']
df1 = spark.createDataFrame(data=employee_data, schema=Schema)
display(df1)

employee_id,name,doj,employee_dept_id,gender,salary
100,Stephen,1999,100,M,2000
200,Phillip,2002,200,M,8000
300,John,2010,100,,6000

In [0]:
employee_data = ([400,'Nancy','2008','400','F',1000],
                 [500,'Rose','2004','500','F',5000],
                 [300,'John','2010','100','',6000])
Schema = ['employee_id','name','doj','employee_dept_id','gender','salary']
df2 = spark.createDataFrame(data=employee_data, schema=Schema)
display(df2)

employee_id,name,doj,employee_dept_id,gender,salary
400,Nancy,2008,400,F,1000
500,Rose,2004,500,F,5000
300,John,2010,100,,6000

###Union

In [0]:
df_union = df1.union(df2)
display(df_union)
#df_union.show()

employee_id,name,doj,employee_dept_id,gender,salary
100,Stephen,1999,100,M,2000
200,Phillip,2002,200,M,8000
300,John,2010,100,,6000
400,Nancy,2008,400,F,1000
500,Rose,2004,500,F,5000
300,John,2010,100,,6000

###Drop duplicates

In [0]:
display(df_union.dropDuplicates())

employee_id,name,doj,employee_dept_id,gender,salary
100,Stephen,1999,100,M,2000
200,Phillip,2002,200,M,8000
300,John,2010,100,,6000
400,Nancy,2008,400,F,1000
500,Rose,2004,500,F,5000

###UnionAll

In [0]:
df_unionAll = df1.unionAll(df2)
display(df_unionAll)

employee_id,name,doj,employee_dept_id,gender,salary
100,Stephen,1999,100,M,2000
200,Phillip,2002,200,M,8000
300,John,2010,100,,6000
400,Nancy,2008,400,F,1000
500,Rose,2004,500,F,5000
300,John,2010,100,,6000

###Schema Mismatch

In [0]:
df3 = df2.select(df2.employee_id, df2.name, df2.doj, df2.employee_dept_id, df2.gender)
display(df3)

employee_id,name,doj,employee_dept_id,gender
400,Nancy,2008,400,F
500,Rose,2004,500,F
300,John,2010,100,

In [0]:
df_invalid = df1.union(df3)
display(df_invalid)

---------------------------------------------------------------------------
AnalysisException                         Traceback (most recent call last)
File <command-4350606535488319>:1
----> 1 df_invalid = df1.union(df3)
      2 display(df_invalid)

File /databricks/spark/python/pyspark/instrumentation_utils.py:48, in _wrap_function.<locals>.wrapper(*args, **kwargs)
     46 start = time.perf_counter()
     47 try:
---> 48     res = func(*args, **kwargs)
     49     logger.log_success(
     50         module_name, class_name, function_name, time.perf_counter() - start, signature
     51     )
     52     return res

File /databricks/spark/python/pyspark/sql/dataframe.py:3686, in DataFrame.union(self, other)
   3638 def union(self, other: "DataFrame") -> "DataFrame":
   3639     """Return a new :class:`DataFrame` containing union of rows in this and another
   3640     :class:`DataFrame`.
   3641
   (...)
   3684     +----+----+----+
   3685     """
-> 3686     return DataFrame(self._jdf.union(other._jdf), self.sparkSession)

File /databricks/spark/python/lib/py4j-0.10.9.7-src.zip/py4j/java_gateway.py:1322, in JavaMember.__call__(self, *args)
   1316 command = proto.CALL_COMMAND_NAME +\
   1317     self.command_header +\
   1318     args_command +\
   1319     proto.END_COMMAND_PART
   1321 answer = self.gateway_client.send_command(command)
-> 1322 return_value = get_return_value(
   1323     answer, self.gateway_client, self.target_id, self.name)
   1325 for temp_arg in temp_args:
   1326     if hasattr(temp_arg, "_detach"):

File /databricks/spark/python/pyspark/errors/exceptions/captured.py:168, in capture_sql_exception.<locals>.deco(*a, **kw)
    164 converted = convert_exception(e.java_exception)
    165 if not isinstance(converted, UnknownException):
    166     # Hide where the exception came from that shows a non-Pythonic
    167     # JVM exception message.
--> 168     raise converted from None
    169 else:
    170     raise

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 6 columns and the second input has 5 columns.;
'Union false, false
:- LogicalRDD [employee_id#596L, name#597, doj#598, employee_dept_id#599, gender#600, salary#601L], false
+- Project [employee_id#621L, name#622, doj#623, employee_dept_id#624, gender#625]
   +- LogicalRDD [employee_id#621L, name#622, doj#623, employee_dept_id#624, gender#625, salary#626L], false