###Create data frame

In [0]:
simpleData = (('James', 'sales',3000),
              ('David','sales',3000),
              ('Robert','sales',4100),
              ('Saif','sales',4100),
              ('Micheal','sales',4600),
              ('Marin','finance',3000),
              ('Scott','finance',3300),
              ('Jen','finance',3900),
              ('Kumar','marketing',2000),
              ('Jeff','marketing',3000))
columns = ['employee_name','department','salary']
df = spark.createDataFrame(data=simpleData, schema=columns)
display(df)

employee_name,department,salary
James,sales,3000
David,sales,3000
Robert,sales,4100
Saif,sales,4100
Micheal,sales,4600
Marin,finance,3000
Scott,finance,3300
Jen,finance,3900
Kumar,marketing,2000
Jeff,marketing,3000

In [0]:
#window definition

from pyspark.sql.window import Window
from pyspark.sql.functions import row_number

windowSpec = Window.partitionBy('department').orderBy('salary')

###Lag window function

In [0]:
from pyspark.sql.functions import lag
df.withColumn('lag',lag('salary',1).over(windowSpec)).show()

+-------------+----------+------+----+
|employee_name|department|salary| lag|
+-------------+----------+------+----+
|        Marin|   finance|  3000|null|
|        Scott|   finance|  3300|3000|
|          Jen|   finance|  3900|3300|
|        Kumar| marketing|  2000|null|
|         Jeff| marketing|  3000|2000|
|        James|     sales|  3000|null|
|        David|     sales|  3000|3000|
|       Robert|     sales|  4100|3000|
|         Saif|     sales|  4100|4100|
|      Micheal|     sales|  4600|4100|
+-------------+----------+------+----+

In [0]:
from pyspark.sql.functions import lag
df.withColumn('lag',lag('salary',2).over(windowSpec)).show()

+-------------+----------+------+----+
|employee_name|department|salary| lag|
+-------------+----------+------+----+
|        Marin|   finance|  3000|null|
|        Scott|   finance|  3300|null|
|          Jen|   finance|  3900|3000|
|        Kumar| marketing|  2000|null|
|         Jeff| marketing|  3000|null|
|        James|     sales|  3000|null|
|        David|     sales|  3000|null|
|       Robert|     sales|  4100|3000|
|         Saif|     sales|  4100|3000|
|      Micheal|     sales|  4600|4100|
+-------------+----------+------+----+

###Lead window function

In [0]:
from pyspark.sql.functions import lead
df.withColumn('lead',lead('salary',1).over(windowSpec)).show()

+-------------+----------+------+----+
|employee_name|department|salary|lead|
+-------------+----------+------+----+
|        Marin|   finance|  3000|3300|
|        Scott|   finance|  3300|3900|
|          Jen|   finance|  3900|null|
|        Kumar| marketing|  2000|3000|
|         Jeff| marketing|  3000|null|
|        James|     sales|  3000|3000|
|        David|     sales|  3000|4100|
|       Robert|     sales|  4100|4100|
|         Saif|     sales|  4100|4600|
|      Micheal|     sales|  4600|null|
+-------------+----------+------+----+